
.contentParent{
    display: flex;    
}
.content{
    flex-grow: 3;
}
.edit {
    margin-left: 80%;
    margin-bottom: 10px;
}

.delete {
    margin-left: 10px;
    margin-bottom: 10px;
}

.ant-divider-horizontal {
    margin-top: 0px;
    margin-bottom: 10px;
}