.top{
    display: flex;
    background-color: rgb(127, 219, 235);
    padding-top: 5px;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    margin:10px;
    background: rgba(255, 255, 255);
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    border-radius:2em; border: solid;
}

.title{
    flex-grow: 4;
    margin-left: 10px;
    text-align: left;

    font-weight: bold;
    background-color: inherit;
    display: flex;
}

.subtitle{
    align-self: center;
    vertical-align: middle;
    
}

.buttonTop{
    margin: 10px 20px 15px 10px ;
    
}